.pending {
    color: gray;
}

.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}

.iframe-container {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 600px;
}